#content {
    height: 100%;
    padding-bottom: calc(var(--player-height) + 30px);
}
.content__header{
    background-color: #153D56;
}
.player-song-content{
    width: 250px;
}
.content__gradient{
    background-image: linear-gradient(0deg, #1A4B67, #3399D6);
}
.playlist__thumb{
    -webkit-box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
    border-radius: 12px;
}
.playlist__type{
    margin-left: 20px;
}
.playlist__name{
    font-size: 4.8rem;
    width: 842px;
    line-height: 1.12;
}
.playlist__more-info a{
    font-size: 2.4rem;
    line-height: 100%;
    margin-top: 18px;
}
.playlist-description{
    padding: 24px 32px;
    z-index: 1;
    position: relative;
}
.playlist-description h1{
    color: var(--white-color);
    margin: 0;
    font-size: 2.4rem;
}
.playlist-description-text{
    max-width: 672px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    position: relative;
}
.playlist-description .playlist-description-text{
    height: 130px;
    overflow: hidden;
}
.playlist-description.open .playlist-description-text{
    height: 680px;
}
.playlist-description-text p{
    font-size: 1.6rem;
    color: #b3b3b3;
    line-height: 1.4;
    margin: 0;
    margin-top: 30px;
}
.playlist-description-text p:first-child{
    margin-top: 0;
}
.playlist-description-text a{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white-color);
}
.playlist-description-text a:hover{
    text-decoration: underline;
}
.content-episodes-btn{
   margin: 24px 32px; 
   border: 1px solid #444444;
}
.content-episodes-btn:hover{
   border: 1px solid #444444;
    text-decoration: underline;
}
.playlist-text-options{
    position: absolute;
    bottom: 3px;
    left: 0;
}
.playlist-text-see-more-option,
.playlist-text-show-less-option{
    font-size: 1.6rem;
    color: var(--white-color);
    cursor: pointer;
    user-select: none;
    line-height: 100%;
}
.playlist-text-show-less-option:hover{
    text-decoration: underline;
}
.playlist-text-show-less-option{
    display: none;
}
.playlist-description.open .playlist-text-show-less-option {
    display: block;
}
.playlist-description.open .playlist-text-see-more-option {
    display: none;
}
.playlist-options-item--more-options{
    border-bottom: 1px solid #3e3e3e;
    border-top: none;
}

/* Recommended Radio */
.recommended-radio{
    padding: 0 32px;
}
.recommended-radio h1{
    font-size: 2.4rem;
    color: var(--white-color);
    line-height: 100%;
    margin: 22px 0;
}
.recommended-radio-wrapper{
    display: flex;
    gap: 16px;
}
.recommended-radio-box{
    position: relative;
    cursor: pointer;
    user-select: none;
    flex: 1;
    transition: background linear .2s;
}
.recommended-radio-box:hover{
    background-color: rgb(40,40,40);
}
.recommended-radio-images-wrapper{
    margin: 16px 16px 20px;
}
.recommended-radio-thumb{
    height: 142px;
    width: 142px;
    border-radius: 2px;
}
.recommended-radio-logo{
    height: 40px;
    width: 40px;
    border-radius: 2px;
    position: absolute;
    left: 7px;
    bottom: 77px;
}
.recommended-radio-info{
    padding: 0 16px;
}
.recommended-radio-name{
    font-size: 1.6rem;
    color: var(--white-color);
    line-height: 100%;
    margin: 0;
    height: 22px;
    line-height: 1.6;
}
.recommended-radio-date-time{
    font-size: 12px;
    color: rgb(179, 179, 179);
    letter-spacing: 1px;
    margin: 10px 0 30px;
}
.recommended-radio-date{

}
.recommended-radio-time{

}